<footer class="container-fluid footer bg-light py-5">
    <div class="row">
        <div class="col-12 col-md">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mb-2" role="img" viewBox="0 0 24 24"><title>Product</title><circle cx="12" cy="12" r="10"/><path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"/></svg>
            <small class="d-block mb-3 text-muted">&copy; 2017-2020</small>
        </div>
        <div class="col-6 col-md">
            <h5>Features</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-secondary" href="#">Cool stuff</a></li>
                <li><a class="text-secondary" href="#">Random feature</a></li>
                <li><a class="text-secondary" href="#">Team feature</a></li>
                <li><a class="text-secondary" href="#">Stuff for developers</a></li>
                <li><a class="text-secondary" href="#">Another one</a></li>
                <li><a class="text-secondary" href="#">Last time</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Resources</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-secondary" href="#">Resource name</a></li>
                <li><a class="text-secondary" href="#">Resource</a></li>
                <li><a class="text-secondary" href="#">Another resource</a></li>
                <li><a class="text-secondary" href="#">Final resource</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Personal Stuff</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-secondary" href="https://www.github.com/jluque23" target="_blank">My GitHub</a></li>
                <li><a class="text-secondary" href="https://github.com/jluque23/car_store_backend" target="_blank">Car Store Backend</a></li>
                <li><a class="text-secondary" href="https://github.com/jluque23/car_store_frontend" target="_blank">Car Store Frontend</a></li>
                <li><a class="text-secondary" routerLink="/aboutme">About me</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>About</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-secondary" routerLink="/offices">Corporate Offices</a></li>
                <li><a class="text-secondary" routerLink="/employees">Employees</a></li>
                <li><a class="text-secondary" routerLink="/privacy">Privacy</a></li>
                <li><a class="text-secondary" href="#">Terms</a></li>
            </ul>
        </div>
    </div>
</footer>