<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">Dashboard </div>
        <div class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action bg-light" routerLink="/carstore">Customers</a>
            <a class="list-group-item list-group-item-action bg-light" routerLink="/carstore">Employees</a>
            <a class="list-group-item list-group-item-action bg-light" routerLink="/carstore">Offices</a>
            <a class="list-group-item list-group-item-action bg-light" routerLink="/carstore">Orders</a>
            <a class="list-group-item list-group-item-action bg-light" routerLink="/carstore">Payments</a>
            <a class="list-group-item list-group-item-action bg-light" routerLink="/carstore">Products</a>
            <a class="list-group-item list-group-item-action bg-light" routerLink="/carstore">Product Lines</a>
        </div>
    </div>
    <!-- /#sidebar-wrapper -->

</div>