<div class="jumbotron jumbotron text-white bg-dark rounded">

  <div class="row mb-5">
    <div class="col-lg-6">
      <h1 class="mb-4" style=font-size:40px;>What is Bug Exterminator?</h1>
        <p class="lead mb-3">
          Bug Exterminator is an open-source issue/bug tracking system that allows developers to keep track of outstanding problems with their products.
        </p>
        <p class="lead mb-3">
          Bug Exterminator is a Defect tracking tool, however, it can be used as a test management tool as such it can be easily linked with other Test Case management tools like Quality Center, Testlink etc.
        </p>  
        <p class="lead mb-3">
          This open bug-tracker enables users to stay connected with their clients or employees, to communicate about problems effectively throughout the data-management chain.
        </p>
    </div>
    <div class="col-lg-6">
      <img src="assets/images/software.jpg" class="img-fluid rounded-circle" alt="Responsive image">
    </div>
  </div>

  <div class="row mb-5">
    <div class="col-lg-6">
      <h1 class="mb-4" style=font-size:40px;>FAQs</h1>
        <p class="lead mb-3">
          What can i do with this project? - It's OpenSource, you can do whatever you want.
        </p>
        <p class="lead mb-3">
          Can i get the code? Yep, the code is here:
        </p>  
        <ul>
          <li><a class="text-white" href="https://github.com/jluque23/bugtracker" target="_blank">Frontend</a></li>
          <li><a class="text-white" href="https://github.com/jluque23/bugtrackerrest" target="_blank">Backend</a></li>
        </ul> 
        <p class="lead mb-3">
          Can i collaborate with you? For sure send me a private message! <a class="text-white" href="https://www.linkedin.com/in/jluque23/" target="_blank">- My LinkedIn -</a>
        </p>
    </div>
    <div class="col-lg-6">
      <img src="assets/images/question.png" class="img-fluid rounded-circle" alt="Responsive image">
    </div>
  </div> 

  <div class="row mb-5">
    <div class="col-lg-6">
      <h1 class="mb-4" style=font-size:40px;>Can i create an user?</h1>
        <p class="lead mb-3">
          Yes, you can create an user, test this software, also you should create a bug and tell us about improvements to do, this is only the start!
        </p>
        <p class="lead mb-3">
          Still you can use the admin user for check another functions 
        </p>
        <button class="btn btn-primary" routerLink='/login'>Login Page</button>
    </div>
    <div class="col-lg-6">
      <img src="assets/images/users.jpg" class="img-fluid rounded-circle" alt="Responsive image">
    </div>
  </div>

</div>