 <nav class="container-fluid navbar navbar-expand-md navbar-dark bg-secondary mb-2">
  <a class="navbar-brand" routerLink='/carstore'><i class="fas fa-car"></i> Car Store</a>
 


  <div class="collapse navbar-collapse" id="navbarSupportedContent">


    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink='/dashboard' >Dashboard<i class="fas fa-tachometer-alt ml-1 fa-lg"></i></a>  
      </li>
    </ul>
    <!-- <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink='/dashboard' *ngIf="authService.hasRole('ROLE_ADMIN')" (click)="isMenuCollapsed = true">Dashboard<i class="fas fa-tachometer-alt ml-1 fa-lg"></i></a>  
      </li>


      <div class="dropdown"  routerLinkActive="active" *ngIf="authService.hasRole('ROLE_USER')">
        <li class="nav-link" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Bug Tracker <i class="fas fa-bug ml-1"></i>
        </li>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" routerLink='/openedbugs' (click)="isMenuCollapsed = true">Unsolved bugs<i class="fas fa-wrench ml-1 fa-lg"></i></a>  
          <a class="dropdown-item" routerLink='/closedbugs' (click)="isMenuCollapsed = true">Solved bugs<i class="far fa-check-square ml-1 fa-lg"></i></a>  
        </div>
      </div>

      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink='/notifications' *ngIf="authService.hasRole('ROLE_ADMIN')" (click)="isMenuCollapsed = true">Notifications<i class="far fa-bell ml-1 fa-lg"></i></a>  
      </li>

      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink='/manageroles' *ngIf="authService.hasRole('ROLE_ADMIN')" (click)="isMenuCollapsed = true">Role Manager<i class="fas fa-users ml-1 fa-lg"></i></a>  
      </li>
      
    </ul> -->
    
    <ul class="navbar-nav navbar-right">
      <li *ngIf="!authService.isAuthenticated()"><a [routerLink]="['/login']" class="btn btn-outline-light" (click)="isMenuCollapsed = true">Sign in</a></li>

      <li *ngIf="authService.isAuthenticated()" class="dropdown">
        <a class="btn btn-outline-light dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{this.authService.usuario.username}}
        </a>
      
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
          <button [routerLink]="['/settings']" class="dropdown-item" type="submit" (click)="isMenuCollapsed = true">Settings</button>
          <button (click)='logout()' class="dropdown-item" type="submit" (click)="isMenuCollapsed = true">Sign out</button>
        </div>
      </li>
      
      <a class="nav-link" routerLink='/shopcart'><i class="fas fa-shopping-cart"></i></a>

      
    </ul>
  </div>
</nav> 