<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <app-dashboardsidebar></app-dashboardsidebar>
        </div>
        <div class="col-10">

            <h1 class="display-1 mt-4 mb-4">Customers<i class="fas fa-people-carry"></i></h1>

            <div class="input mb-3">
                <!-- <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Search Bug"> -->
                <input type="text" class="form-control" placeholder="Search Customer">
            </div>
            <div class="table-responsive rounded">
                <table class="table rounded table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Customer name</th>
                            <th scope="col">First name</th>
                            <th scope="col">Last name</th>
                            <th scope="col">Phone</th>
                            <th scope="col">Address line 1</th>
                            <th scope="col">Address line 2</th>
                            <th scope="col">City</th>
                            <th scope="col">State</th>
                            <th scope="col">Postal Code</th>
                            <th scope="col">Country</th>
                            <th scope="col">Sales representant</th>
                            <th scope="col">Credit limit</th>
                            <th scope="col">Create at</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- <tr [routerLink]="['/detallebug/', bug.id]" *ngFor="let bug of this.bugs?.reverse() | filter:searchText">
                            <td>{{bug.id}}</td>
                            <td>{{bug.title}}</td>
                            <td>{{solvedOrNot(bug.enabled)}}</td>
                            <td>{{bug.createAt}}</td>
                        </tr> -->

                        <tr *ngFor="let customer of customers | paginate : {
                            itemsPerPage: pageSize,
                            currentPage: page,
                            totalItems: items};">
                            <td>{{customer.id}}</td>
                            <td>{{customer.customer_name}}</td>
                            <td>{{customer.contact_first_name}}</td>
                            <td>{{customer.contact_last_name}}</td>
                            <td>{{customer.phone}}</td>
                            <td>{{customer.address_line_1}}</td>
                            <td>{{customer.address_line_2}}</td>
                            <td>{{customer.city}}</td>
                            <td>{{customer.state}}</td>
                            <td>{{customer.postal_code}}</td>
                            <td>{{customer.country}}</td>
                            <td>{{customer.sales_representant_id}}</td>
                            <td>{{customer.credit_limit}}</td>
                            <td>{{customer.create_at}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-md-12">
                <pagination-controls previousLabel="Prev" nextLabel="Next" responsive="true" (pageChange)="handlePageChange($event)"></pagination-controls>
            </div>
        </div>
    </div>
</div>