<div class="d-flex" id="wrapper">

    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">Dashboard </div>
        <li class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action bg-light" routerLink="/customersdashboard" routerLinkActive="bg-dark text-white rounded">Customers</a>
            <a class="list-group-item list-group-item-action bg-light" routerLink="/employeesdashboard" routerLinkActive="bg-dark text-white rounded">Employees</a>
            <a class="list-group-item list-group-item-action bg-light" routerLink="/officesdashboard" routerLinkActive="bg-dark text-white rounded">Offices</a>
            <a class="list-group-item list-group-item-action bg-light" routerLink="/ordersdashboard" routerLinkActive="bg-dark text-white rounded">Orders</a>
            <a class="list-group-item list-group-item-action bg-light" routerLink="/paymentsdashboard" routerLinkActive="bg-dark text-white rounded">Payments</a>
            <a class="list-group-item list-group-item-action bg-light" routerLink="/productsdashboard" routerLinkActive="bg-dark text-white rounded">Products</a>
            <a class="list-group-item list-group-item-action bg-light" routerLink="/productlinesdashboard" routerLinkActive="bg-dark text-white rounded">Product Lines</a>
        </li>
    </div>

</div>