<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <app-dashboardsidebar></app-dashboardsidebar>
        </div>
        <div class="col-10">

            <h1 class="display-1 mt-4 mb-4">Employees<i class="fas fa-people-carry"></i></h1>

            <div class="input mb-3">
                <!-- <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Search Bug"> -->
                <input type="text" class="form-control" placeholder="Search Customer">
            </div>
            <div class="table-responsive rounded">
                <table class="table rounded table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">First name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">Extension</th>
                            <th scope="col">Email</th>
                            <th scope="col">Office</th>
                            <!-- <th scope="col">Reports To</th> -->
                            <th scope="col">Job Title</th>
                            <th scope="col">Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- <tr [routerLink]="['/detallebug/', bug.id]" *ngFor="let bug of this.bugs?.reverse() | filter:searchText">
                            <td>{{bug.id}}</td>
                            <td>{{bug.title}}</td>
                            <td>{{solvedOrNot(bug.enabled)}}</td>
                            <td>{{bug.createAt}}</td>
                        </tr> -->
                        <tr *ngFor="let employee of employees | paginate : {
                            itemsPerPage: pageSize,
                            currentPage: page,
                            totalItems: items};">

                            <td>{{employee.id}}</td>
                            <td>{{employee.first_name}}</td>
                            <td>{{employee.last_name}}</td>
                            <td>{{employee.extension}}</td>
                            <td>{{employee.email}}</td>
                            <td>{{employee.office.city}}</td>
                            <!-- <td>{{employee.reports_to.first_name}}</td> -->
                            <td>{{employee.job_title}}</td>
                            <td>{{employee.create_at}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-md-12">
                <pagination-controls previousLabel="Prev" nextLabel="Next" responsive="true" (pageChange)="handlePageChange($event)"></pagination-controls>
            </div>
        </div>
    </div>
</div>