<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <app-dashboardsidebar></app-dashboardsidebar>
        </div>
        <div class="col-10">

            <h1 class="display-1 mt-4 mb-4">Products<i class="fas fa-people-carry"></i></h1>

            <div class="input mb-3">
                <!-- <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Search Bug"> -->
                <input type="text" class="form-control" placeholder="Search Customer">
            </div>
            <div class="table-responsive rounded">
                <table class="table rounded table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Product Code</th>
                            <th scope="col">Product Name</th>
                            <th scope="col">Product Line Id</th>
                            <th scope="col">Product Scale</th>
                            <th scope="col">Product Vendor</th>
                            <th scope="col">Product Description</th>
                            <th scope="col">Quantity Stock</th>
                            <th scope="col">Buy Price</th>
                            <th scope="col">Sell Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- <tr [routerLink]="['/detallebug/', bug.id]" *ngFor="let bug of this.bugs?.reverse() | filter:searchText">
                            <td>{{bug.id}}</td>
                            <td>{{bug.title}}</td>
                            <td>{{solvedOrNot(bug.enabled)}}</td>
                            <td>{{bug.createAt}}</td>
                        </tr> -->
                        <tr *ngFor="let product of products | paginate : {
                            itemsPerPage: pageSize,
                            currentPage: page,
                            totalItems: items};">

                            <td>{{product.id}}</td>
                            <td>{{product.product_code}}</td>
                            <td>{{product.product_name}}</td>
                            <td>{{product.product_line_id}}</td>
                            <td>{{product.product_scale}}</td>
                            <td>{{product.product_vendor}}</td>
                            <td>{{product.product_description}}</td>
                            <td>{{product.quantity_stock}}</td>
                            <td>{{product.buy_price}}</td>
                            <td>{{product.sell_price}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-12">
                <pagination-controls previousLabel="Prev" nextLabel="Next" responsive="true" (pageChange)="handlePageChange($event)"></pagination-controls>
            </div>
        </div>
    </div>
</div>